{% extends 'main/layout.html' %}

{% block title %}Главная{% endblock %}
{% block content %}
<div class="features">
    <h1>Главная</h1>
    <p>Эта книга адресована всем, кто изучает русский язык. Но состоит она не из правил, упражнений и учебных текстов. Для этого созданы другие замечательные учебники. У этой книги совсем иная задача. Она поможет вам научиться не только разговаривать, но и размышлять по-русски.</p>
    <button class="btn btn-warning">Кнопочка</button>
</div>
{% endblock %}